<div class="wrapper">
  <!-- Sidebar  -->

  <app-sidebar *ngIf="allowaccess" class="sidebarwrapper">

  </app-sidebar>

  <!-- Page Content  -->
  <div id="content">
      <!-- Top Nav bar  -->
      <div class="top_navbar" *ngIf="allowaccess">
          <app-navbar>

          </app-navbar>
      </div>
      <div class="routecontent" [ngClass]="{ 'accesnotgranted': !allowaccess }">
        
          <router-outlet>
          
          </router-outlet>
      </div>

      <app-footer *ngIf="allowaccess"></app-footer>

  </div>
</div>