<nav class="headerclass">
    <span (click)="switchCollapse(isCollapsed)" class="menuicon">
        <i class="fa fa-bars" aria-hidden="true" ></i>
    </span>

    <div class="right-menu">
        <div class="dropdown">
            <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                {{userProfileName}}
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/login">{{'LOG_OUT'}}</a>
            </div>
        </div>
    </div>




</nav>